
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation of Order <%= @order.id %></h1>
    <p>You have successfully placed an order!</p>
    <ul> 
    <% @order.line_items.each do |item| %>
      <% product = Product.find_by(id: item.product_id)%>
      <li><%= product.name %> - <%= product.price %></li>
    <% end %>
    </ul>
    <p>TOTAL: <%= @order.total %></p>
    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>